# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Kate
*~

# MSVC
Debug/*
Release/*
ipch/*
*.sdf
*.user
*.suo
*.opensdf
*/src/Debug
*/src/Release
*/src/ipch

# Executable
te-network
